div#app{
  header{
    position: fixed;
    z-index: 9999;
    top:0;
    left: 0;
    width: 100%;
    height: 130px;
    background-color: $white;
    word-spacing: 4px;
    .navBar{
      width: 88%;
      height: 100%;
      margin: auto;
      @include d-flex;
      align-items: center;
      align-self: center;
      .logo{
        img{
          width: 190px;
          height: auto;
        }
      }
      nav{
        display: flex;
        align-items: center;
        flex-grow: 1;
        ul{
          flex-grow: 1;
          display: flex;
          justify-content: flex-end;
          li{
            margin-right: 50px;
            cursor: pointer;
            font-size: 0.9rem;
          }
          .gold{
            color:$gold;
          }
          li:first-child{
            color:$gold;
          }
        }
        a{
          padding: 13px 35px;
          background-color: $orangeSecond;
          font-size: 0.9rem;
          transition: background-color 0.4s;
          &:hover{
            background-color: #1e1e1e;
            span{
              color: $white;
            }
          }
          span{
            color: black;
            letter-spacing: 1.5px;
          }
        }
      }
    }
  }
  main{
    width: 100%;
    padding-top: 130px;
    .jumbotron{
      position: relative;
      img{
        width: 100%;
        height: calc(100vh - 130px);
        object-fit: cover ;
      }
      .textJumbotro{
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(- 50%, - 50%);
        text-align: center;
        word-spacing: 3px;
        h1{
          font-size: 3.7rem;
          font-weight: bold;
          color: $white;
        }
        p{
          font-size: 1.6rem;
          color:$gold;
          margin-top: 15px;
          margin-bottom: 30px;
        }
        .container-btn{
          width: 670px;
          margin: auto;
          @include d-flex;
          a{
            font-weight: 500;
            cursor: pointer;
            transition: background-color 0.4s;
            span{
              font-size: 1.05rem;
            }
          }
          a:first-child{
            @include btn-grey;
          }
          a:last-child{
            @include btn-lightOrange;
          }
        }
      }
      .post{
        height: 130px;
        background-color: $orangePrimary;
        margin-top: -3px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        a{
          @include btn-grey;
          position: relative;
          top:57px;
          border: 1px solid $white;
          &:hover{
            background-color: $white;
            border-color: black;
            span{
              color:black;
            }
          }
        }
      }
    }
    .specialist{
      margin-top: 100px;
      .containerSp{
        width: 1660px;
        @include rouleCountainer;
        p:first-child{
          @include minTitle;
          .borderI{
            @include border;
          }
        }
        .info-sp{
          @include spanStyle;
        }
        .container-cardSpecialist{
          display: flex;
          justify-content: space-between;
          .cardSpecialist{
            width: 380px;
            height: auto;
            margin:0px 15px;
            position: relative;
            background-color: transparent;
            border-radius: 10px;
            line-height: 2.4;
            &:hover{
              .innerCard{
                 transform: rotateY(180deg);
              }
              .hoverCardSp{
                transform: rotateY(360deg);
                visibility: visible;
              }
            }
            .hoverCardSp{
              -webkit-backface-visibility: hidden;
            }
            .innerCard{
              width: 100%;
              height: 100%;
              background-color: rgb(245, 245, 245);
              transition: transform 0.4s;
              transform-style: preserve-3d;
              i{
                width: 67px;
                height: auto;
                font-size: 1.5rem;
                padding: 20px;
                border: 1px solid grey;
                color: grey;
                border-radius: 100%;
                margin-top: 20px;
              }
              span{
                display: block;
                font-size: 2rem
              }
              .textCard{
                @include pText;
              }
            }
            .hoverCardSp{
              @include back;
              background-color: $orangeSecond;
              transform: rotateY(180deg);
              p:first-child{
                padding-top: 20px;
                margin-top: 10px;
                margin-bottom: 0;
                font-size: 1.2rem;
              }
              .textCard{
                @include pText;
              }
              a{
                padding: 15px 30px;
                background-color: #ffe07b;
                color: black;
                letter-spacing: 3px;
                transition: background-color 0.4s;
                &:hover{
                  background-color: #31312f;
                  color: $white;
                }
              }
            }
          }
        }
      }
    }
    .counter{
      position: relative;
      .separator{
        @include separator;
        background-color: $white;
      }
      .separator.top{
        @include separatorTop;
      }
      .imgCounter{
        width: 100%;
        height: 680px;
        background-image: url(images/home-244125289.jpg);
        background-position: center;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 500;
        .count{
          margin: 0 50px;
          text-align: center;
          i{
            font-size: 4.8rem;
            color: $orangeSecond;
          }
          .num{
            font-size: 3.3rem;
            color: $orangeSecond;
            margin-bottom: 5px;
          }
          .countTxt{
            font-size: 1rem;
            color:$white;
          }
        }
      }
      .separator.bottom{
        @include separatorBott;
      }
    }
    .recentWork{
      .containerWork{
        @include rouleCountainer;
        p{
          @include minTitle;
          .borderI{
            @include border;
          }
        }
        .info-work{
          @include spanStyle;
        }
        .containerCardWork{
          @include contCard;
          .cardWork{
            width: 370px;
            height: 370px;
            position: relative;
            &:hover{
              .hoverCardW{
                @include activeHover;
              }
              @include rotateX;
            }
            .innerCard{
              width: 100%;
              height: 100%;
              img{
                width: 100%;
                height: 100%;
              }
            }
            .hoverCardW{
              @include back;
              @include hoverRotate;
            }
          }
          .separator{
            @include divView;
            .border-grey{
              @include borderView;
              background-color: lightgrey;
            }
            a{
              @include aView;
            }
            .border-grey.center{
              align-self: center;
            }
          }
        }
      }
    }
    .values{
      padding-top: 80px;
      background-color: #f5f5f5;
      .containerValues{
        @include rouleCountainer;
        .minTitle{
          @include minTitle;
          .borderI{
            @include border;
          }
        }
        .info-values{
          @include spanStyle;
        }
        .containerColumn{
          width: 1200px;
          margin: auto;
          display: flex;
          justify-content: space-between;
          padding-bottom: 50px;
          .column{
            .pulse{
              .padd{
                padding: 30px;
                border-radius: 100%;
                font-size: 3.5rem;
                color: $white;
                position: relative;
              }
              .fa-users{
                padding: 30px 25px;
              }
              .fa-lightbulb{
                padding: 30px 40px;
              }
            }
            .titleVal{
              font-size: 1rem;
              font-weight: lighter;
              margin-top: 10px;
              margin-bottom: 20px;
              height: 40px;
              position: relative;
              .border-min{
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translate(- 50%, - 50%);
                width: 20px;
                height: 2px;
                background-color: grey;
              }
            }
            .text{
              @include pText;
              line-height: 2.27;
            }
          }
        }
      }
    }
    .containerSlider{
      width: 100%;
      height: calc(100vh - 135px);
      position: relative;
      img{
        width: 100%;
        height: 100%;
      }
      .separator{
        @include separator;
        transform: scaleX(1.1);
        height: 110px;
      }
      .separator.top{
        @include separatorTop;
        top: -30px;
        background-color: #f5f5f5;
      }
      .titleSlider{
        height: 70px;
        font-size: 2rem;
        font-weight: 300;
        color :$white;
        position: relative;
        position: absolute;
        top: 220px;
        left: 50%;
        transform: translate(- 50%, - 50%);
        .borderI{
          @include border;
        }
      }
      .slider{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top:450px;
        left: 50%;
        transform: translate(- 50%, - 50%);
        .imgSlider{
          margin: 20px 0;
          img{
            width: 150px;
            height: auto;
            border-radius: 100%;
          }
        }
        .overview{
          width: 80%;
          margin-bottom:20px;
          color: $white;
          font-size: 1.2rem;
          font-weight: 500;
          font-style: italic;
          line-height: 2;
          text-align: center;
        }
        span{
          font-size: 1.1rem;
          color:$white;
          font-weight: 600;
          p{
            display: inline-block;
          }
          .mr{
            margin-right:3px;
          }
          .ml{
            margin-left: 3px;
          }
        }
        ul{
          width: 40px;
          margin-top: 15px;
          display: flex;
          justify-content: space-between;
          li{
            .active{
              background-color: $white;
            }
            i{
              color:$white;
              border-radius: 100%;
            }
          }
        }
      }
      .separator.bottom{
        @include separatorBott;
        bottom: -30px;
        background-color: #f5f5f5;
      }
    }
    .news{
      padding-top: 50px;
      background-color: #f5f5f5;
      .containerNews{
        @include rouleCountainer;
        .titleNews{
          @include minTitle;
          .borderI{
            @include border;
          }
        }
        .info-news{
          @include spanStyle;
        }
        .containerCardNews{
          @include contCard;
          text-align: left;
          .cardNews{
            width: 370px;
            height: auto;
            background-color: $white;
            .innerCard{
              .imgCard{
                position: relative;
                &:hover{
                  .overlay{
                    @include activeHover;
                  }
                }
                img{
                  width: 100%;
                  height: auto;
                }
                .overlay{
                  @include back;
                  @include hoverRotate;
                  p{
                    width: 70%;
                    text-align: center;
                  }
                }
              }
              .infoCard{
                width: 100%;
                height: auto;
                margin-top: 25px;
                line-height: 2;
                padding: 0px 30px;
                .titleCard{
                  font-size: 1.6rem;
                  font-weight: 200;
                }
                .dateCard{
                  height: 40px;
                  font-size: 0.8rem;
                  color:grey;
                  border-bottom: 1px solid #eae8e8;
                  margin-bottom: 25px;
                  color:#747474;
                }
                .overview{
                  margin-bottom: 20px;
                  font-size: 1rem;
                  font-weight: 500;
                  color: #747474;
                }
              }
            }
          }
          .separator{
            @include divView;
            .border-white{
              @include borderView;
              height: 2px;
              background-color: $white;
            }
            a{
              @include aView;
              &:hover{
                background-color: $orangePrimary;
              }
            }
            .border-white.center{
              align-self: center;
            }
          }
        }
      }
    }
    .trusted{
      padding-top: 100px;
      .containerTrusted{
        @include rouleCountainer;
        .titleTrusted{
          @include minTitle;
          .borderI{
            @include border;
          }
        }
        .info-trusted{
          @include spanStyle;
        }
        .slider{
          @include contCard;
          padding-bottom: 100px;
          .img{
            width: 182px;
            max-height: 115px;
            img{
              width: 100%;
              height: auto;
            }
          }
        }
      }
    }
    .inspiringSpaces{
      width: 100%;
      height: 500px;
      background-image: url(images/about-call-to-action-57862405.jpg);
      background-repeat: no-repeat;
      background-position: center bottom;
      background-size: cover;
      .containerSpaces{
        width: 60%;
        height: 100%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        word-spacing: 1.5;
        .left{
          width: 718px;
          color: $white;
          .titleSpaces{
            @include minTitle;
            letter-spacing:3px;
            font-weight: 500;
            height: 80px;
            .borderI{
              @include border;
              left: 100px;
            }
          }
          .info-spaces{
            font-size: 1.3rem;
            font-weight: 300;
          }
        }
        .right{
          flex-grow: 1;
          padding-left: 100px;
          a{
            @include btn-lightOrange;
            display: inline-block;
            width: 310px;
            margin-bottom: 30px;
            font-size: 1.2rem;
            font-weight: 300;
            text-align: center;
          }
          .minP{
            width: 310px;
            text-align: center;
            color: $white;
          }
        }
      }
    }
  }
  footer{
    border-top: 12px solid #3f3f3f;
    height: 700px;
    background-color: #1e1e1e;
    position: relative;
    .containerFooter{
      width: 92%;
      height: auto;
      margin: auto;
      display: flex;
      justify-content: space-around;
      padding-top: 50px;
      .card{
        width: 393px;
      }
      .card._1{
        .logo_1{
          margin-bottom: 30px;
        }
        p{
          color:#747474;
          line-height: 2.27;
          font-size: 0.9rem;
        }
        .btnFooter_1{
          display: inline-block;
          @include btn-lightOrange;
          margin-top: 20px;
          padding: 13px 25px;
          font-weight: 200;
        }
      }
      .card._2{
        .title{
          color:$orangethird;
          font-size: 1rem;
          font-weight: bold;
          letter-spacing: 1.5px;
        }
        .inner{
          &:hover{
            background-color: rgba(25,30,35,.61);
          }
          display: flex;
          margin-top: 20px;
          .logo_2{
            margin: 0 8px;
            img{
              width:32px;
              height: auto;
              border-radius: 100%;
              cursor: pointer;
            }
          }
          .text{
            .theme{
              width: 100%;
              display: flex;
              justify-content: space-between;
              margin-bottom: 5px;
              .themeTxt{
                color: $white;
                font-weight: bold;
                span{
                  font-weight: 200;
                  font-size: 0.8rem;
                  cursor: pointer;
                }
              }
              img{
                width: 1.3rem;
                cursor: pointer;
              }
            }
            .overview{
              p{
                line-height: 1.3;
                font-weight: 300;
                color: $white;
                a{
                  color:#2b7bb9;
                }
              }
            }
            .screen{
              margin-top: 20px;
              margin-bottom: 10px;
              img{
                width: 100%;
                height: auto;
                cursor: pointer;
              }
            }
            .icon{
              width: 100%;
              display: flex;
              justify-content: space-between;
              div {
                img{
                  cursor: pointer;
                }
              }
              span{
                cursor: pointer;
                font-size: 0.8rem;
                color: #667580;
                text-decoration: underline;
              }
            }
          }
        }
      }
      .card._3{
        .title{
          color:$orangethird;
          font-size: 1rem;
          font-weight: bold;
          letter-spacing: 1.5px;
          margin-bottom: 25px;
        }
        ul{
          color: #717171;
          .width{
            width: 55%;
          }
          li{
            display: flex;
            align-items: baseline;
            margin-bottom: 5px;
            font-size: 14px;
            line-height: 2;
            i{
              margin-right: 17px;
            }
          }
        }
      }
      .card._4{
        p{
          color:$orangethird;
          font-size: 1rem;
          font-weight: bold;
          letter-spacing: 1.5px;
        }
        .inner{
          margin-top: 30px;
          img{
            width: 100%;
            height: auto;
          }
        }
      }
    }
    .copyright{
      width: 100%;
      height: 75px;
      background-color: #111111;
      position: absolute;
      bottom: 0;
      left: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 100px;
      div{
        p{
          font-size: 0.8rem;
          color:#5f5f5f;
          span{
            color:#a5a5a5;
          }
        }
        i{
          font-size: 1rem;
          color:#a5a5a5;
          margin: 0 10px;
          cursor: pointer;
        }
      }
    }
  }
  .iconFixed{
    width: 70px;
    height: 70px;
    background-color: $white;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top:250px;
    right: 20px;
    z-index: 9999;
    .buy{
      text-align: center;
      color:#33475b;
      i{
        font-size: 1.2rem;
        transform: rotatey(180deg);
        margin-bottom: 10px;
      }
      p{
        font-size: 0.6rem;
      }
    }
  }
}
