div#app{
  header{
    position: fixed;
    z-index: 9999;
    top:0;
    left: 0;
    width: 100%;
    height: 130px;
    background-color: #ffff;
    word-spacing: 4px;
    .navBar{
      width: 88%;
      height: 100%;
      margin: auto;
      @include d-flex;
      align-items: center;
      align-self: center;
      .logo{
        img{
          width: 190px;
          height: auto;
        }
      }
      nav{
        display: flex;
        align-items: center;
        flex-grow: 1;
        ul{
          flex-grow: 1;
          display: flex;
          justify-content: flex-end;
          li{
            margin-right: 50px;
            cursor: pointer;
            font-size: 0.9rem;
          }
          li:first-child{
            color:#fed455;
          }
        }
        a{
          padding: 13px 35px;
          background-color: #fed23f;
          font-size: 0.9rem;
          transition: background-color 0.4s;
          &:hover{
            background-color: #1e1e1e;
            span{
              color: #ffff;
            }
          }
          span{
            color: black;
          }
        }
      }
    }
  }
  main{
    width: 100%;
    height: calc(100vh - 130px);
    padding-top: 130px;
    .jumbotron{
      position: relative;
      img{
        width: 100%;
        height: calc(100vh - 130px);
        object-fit: cover ;
      }
      .textJumbotro{
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(- 50%, - 50%);
        text-align: center;
        word-spacing: 3px;
        h1{
          font-size: 3.7rem;
          font-weight: bold;
          color: white;
        }
        p{
          font-size: 1.6rem;
          color:#fed455;
          margin-top: 15px;
          margin-bottom: 30px;
        }
        .container-btn{
          width: 670px;
          margin: auto;
          @include d-flex;
          a{
            font-weight: 500;
            cursor: pointer;
            transition: background-color 0.4s;
            span{
              font-size: 1.05rem;
            }
          }
          a:first-child{
            @include btn-grey;
          }
          a:last-child{
            @include btn-lightOrange;
          }
        }
      }
      .post{
        height: 130px;
        background-color: #f9d03f;
        margin-top: -3px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        a{
          @include btn-grey;
          position: relative;
          top:57px;
          border: 1px solid #ffff;
          &:hover{
            background-color: #ffff;
            border-color: black;
            span{
              color:black;
            }
          }
        }
      }
    }
    .specialist{
      margin-top: 100px;
      .containerSp{
        width: 1660px;
        @include rouleCountainer;
        p:first-child{
          @include minTitle;
          .borderI{
            @include border;
          }
        }
        .info-sp{
          @include spanStyle;
        }
        .container-cardSpecialist{
          display: flex;
          justify-content: space-between;
          .cardSpecialist{
            width: 380px;
            height: auto;
            margin:0px 15px;
            position: relative;
            background-color: transparent;
            border-radius: 10px;
            line-height: 2.4;
            perspective: 1000px;
            &:hover{
              .innerCard{
                 transform: rotateY(180deg);
              }
              .hoverCardSp{
                transform: rotateY(360deg);
                visibility: visible;
              }
            }
            .hoverCardSp{
              -webkit-backface-visibility: hidden;
            }
            .innerCard{
              width: 100%;
              height: 100%;
              background-color: rgb(245, 245, 245);
              transition: transform 0.4s;
              transform-style: preserve-3d;
              i{
                width: 67px;
                height: auto;
                font-size: 1.5rem;
                padding: 20px;
                border: 1px solid grey;
                color: grey;
                border-radius: 100%;
                margin-top: 20px;
              }
              span{
                display: block;
                font-size: 2rem
              }
              .textCard{
                @include pText;
              }
            }
            .hoverCardSp{
              @include back;
              background-color: #fed23f;
              transform: rotateY(180deg);
              p:first-child{
                padding-top: 20px;
                margin-top: 10px;
                margin-bottom: 0;
                font-size: 1.2rem;
              }
              .textCard{
                @include pText;
              }
              a{
                padding: 15px 30px;
                background-color: #ffe07b;
                color: black;
                letter-spacing: 3px;
                transition: background-color 0.4s;
                &:hover{
                  background-color: #31312f;
                  color: #ffff;
                }
              }
            }
          }
        }
      }
    }
    .counter{
      position: relative;
      .separator{
        @include separator;
        background-color: #ffff;
      }
      .separator.top{
        @include separatorTop;
      }
      .imgCounter{
        width: 100%;
        height: 680px;
        background-image: url(images/home-244125289.jpg);
        background-position: center;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 500;
        .count{
          margin: 0 50px;
          text-align: center;
          i{
            font-size: 4.8rem;
            color: #fed23f;
          }
          .num{
            font-size: 3.3rem;
            color: #fed23f;
            margin-bottom: 5px;
          }
          .countTxt{
            font-size: 1rem;
            color:#ffff;
          }
        }
      }
      .separator.bottom{
        @include separatorBott;
      }
    }
    .recentWork{
      .containerWork{
        @include rouleCountainer;
        p{
          @include minTitle;
          i{
            @include border;
          }
        }
        .info-work{
          @include spanStyle;
        }
        .containerCardWork{
          width: 1200px;
          margin: auto;
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          .cardWork{
            width: 370px;
            height: 370px;
            position: relative;
            &:hover{
              .hoverCardW{
                transform: rotateX(0deg);
                animation: fadeIn ease 0.5s;
              }
              @include rotateX;
            }
            .innerCard{
              width: 100%;
              height: 100%;
              img{
                width: 100%;
                height: 100%;
              }
            }
            .hoverCardW{
              @include back;
              background-color: #fed23f;
              transform: rotateX(90deg);
              z-index: 10;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              color: #ffff;
              .icon{
                width: 110px;
                display: flex;
                justify-content: space-between;
                i{
                  display: block;
                  padding: 17px;
                  border-radius: 100%;
                  font-size: 1rem;
                  background-color: #ffff;
                  color:#fed23f;
                }
              }
              p{
                font-size: 1.2rem;
                height: auto;
                margin:10px 0;
              }
            }
          }
          .separator{
            width: 1200px;
            height: 40px;
            margin: auto;
            margin-top: 80px;
            display: flex;
            justify-content: space-between;
            margin-bottom: 100px;
            .border-grey{
              display: block;
              width: 370px;
              height: 1px;
              background-color: lightgrey;
            }
            a{
              width: 370px;
              height: 40px;
              display: flex;
              align-items: center;
              justify-content: center;
              color: black;
              letter-spacing: 3px;
              transition: background-color 0.4s;
              &:hover{
                background-color: #f9d03f;
              }
            }
            .border-grey.center{
              align-self: center;
            }
          }
        }
      }
    }
    .values{
      padding-top: 80px;
      background-color: #f5f5f5;
      .containerValues{
        @include rouleCountainer;
        .minTitle{
          @include minTitle;
          .borderI{
            @include border;
          }
        }
        .info-values{
          @include spanStyle;
        }
        .containerColumn{
          width: 1200px;
          margin: auto;
          display: flex;
          justify-content: space-between;
          padding-bottom: 50px;
          .column{
            .padd{
              padding: 30px;
              border-radius: 100%;
              font-size: 3.5rem;
              color: #ffff;
            }
            .fa-users{
              padding: 30px 25px;
            }
            .fa-lightbulb{
              padding: 30px 40px;
            }
            .titleVal{
              font-size: 1rem;
              font-weight: lighter;
              margin-top: 10px;
              margin-bottom: 20px;
              height: 40px;
              position: relative;
              .border-min{
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translate(- 50%, - 50%);
                width: 20px;
                height: 2px;
                background-color: grey;
              }
            }
            .text{
              @include pText;
              line-height: 2.27;
            }
          }
        }
      }
    }
    .containerSlider{
      width: 100%;
      height: calc(100vh - 135px);
      position: relative;
      img{
        width: 100%;
        height: 100%;
      }
      .separator{
        @include separator;
        transform: scale(1.1);
      }
      .separator.top{
        @include separatorTop;
        top: -30px;
        background-color: #f5f5f5;
      }
      .titleSlider{
        height: 60px;
        font-size: 2rem;
        font-weight: 300;
        color :#ffff;
        position: relative;
        position: absolute;
        top: 220px;
        left: 50%;
        transform: translate(- 50%, - 50%);
        .borderI{
          @include border;
        }
      }
      .slider{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top:450px;
        left: 50%;
        transform: translate(- 50%, - 50%);
        .imgSlider{
          img{
            width: 120px;
            height: auto;
            border-radius: 100%;
          }
        }
        .overview{
          width: 80%;
          margin: 40px 0 20px 0;
          color: #ffff;
          font-size: 1.2rem;
          font-weight: 500;
          font-style: italic;
          line-height: 2;
          text-align: center;
        }
        span{
          font-size: 1.1rem;
          color:#ffff;
          font-weight: 600;
          p{
            display: inline-block;
          }
          .mr{
            margin-right:3px;
          }
          .ml{
            margin-left: 3px;
          }
        }
        ul{
          width: 40px;
          margin-top: 15px;
          display: flex;
          justify-content: space-between;
          li{
            .active{
              background-color: #ffff;
            }
            i{
              color:#ffff;
              border-radius: 100%;
            }
          }
        }
      }
      .separator.bottom{
        @include separatorBott;
        bottom: -30px;
      }
    }
  }
}
