@mixin d-flex{
  display: flex;
  justify-content: space-between;
}

// btn grey
@mixin btn-grey{
  padding: 16px 38px;
  background-color: #31312f;
  letter-spacing: 3px;
  transition: background-color 0.4s;
  span{
    color: #ffff;
  }
  &:hover{
    background-color: #f9d03f;
    span{
      color: black;
    }
  }
}

// btn orange
@mixin btn-lightOrange{
  padding: 16px 38px;
  background-color: #f9d03f;
  letter-spacing: 3px;
  transition: background-color 0.4s;
  span{
    color: black;
  }
  &:hover{
    background-color: #31312f;
    span{
      color: #ffff;
    }
  }
}

// card.front/back;
@mixin pText{
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
  font-size: 0.95rem;
  color: grey;
}
