<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- font family -->
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200;300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap" rel="stylesheet">
    <!-- font awesame -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <!-- style -->
    <link rel="stylesheet" href="style.css">
    <!-- vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- script -->
    <script src="app.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Construction – Avada Website Builder For WordPress & WooCommerce</title>
  </head>
  <body>
    <div id="app">
      <header>
        <div class="navBar">
          <div class="logo">
            <img :src="logo.img" alt="Avada Construction">
          </div>
          <nav>
            <ul>
              <li v-for='item in navBar' @mouseenter='hoverLinkNav(item)'
                @mouseleave='hoverLinkNav(item)' :class='item.menu?"":"gold"'>
                {{item.nav}}
              </li>
            </ul>
            <a href="#"> <span href="#">GET QUOTE</span> </a>
          </nav>
        </div>
      </header>

      <main>
        <section class="jumbotron">
          <img :src="jumbotron">
          <div class="textJumbotro">
            <h1>BUILDING INSPIRING SPACES</h1>
            <p>We Build Inspiring Residential & Commercial Spaces</p>
            <div class="container-btn">
              <a href="#"> <span>EXPLORE RECENT WORK</span> </a>
              <a href="#"> <span>GET A QUOTE TODAY</span> </a>
            </div>
          </div>
          <div class="post">
            <p>Do You Have A Construction Project We Can Help With?</p>
            <a href="#"> <span>GET A FREE QUOTE</span> </a>
          </div>
        </section>

        <section class="specialist">
          <div class="containerSp">
            <p>
              Specialists In Modern Construction
              <i class="borderI"></i>
            </p>
            <span class="info-sp">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam.</span>
            <div class="container-cardSpecialist">
              <div class="cardSpecialist" v-for='card in cardSpecialist'>
                <div class="innerCard">
                  <i :class="card.icon"></i>
                  <span>{{card.title}}</span>
                  <p class="textCard">{{card.front}}</p>
                </div>
                <div class="hoverCardSp">
                  <p>{{card.back_p}}</p>
                  <p class="textCard">{{card.back}}</p>
                  <a href="#"> <span>GET A QUOTE</span> </a>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="counter">
          <div class="separator top"></div>
          <div class="imgCounter">
            <div class="count" v-for='count in counter'>
              <i :class="count.icon"></i>
              <p class="num">{{count.initCount}}</p>
              <p class="countTxt">{{count.text}}</p>
            </div>
          </div>
          <div class="separator bottom"></div>
        </section>

        <section class="recentWork">
          <div class="containerWork">
            <p>
              Explore Recent Work
              <i class="borderI"></i>
            </p>
            <span class="info-work">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</span>
            <div class="containerCardWork">
              <div class="cardWork"  v-for='cardW in cardWork'>
                <div class="innerCard">
                  <img :src="cardW.img" alt="">
                </div>
                <div class="hoverCardW">
                  <div class="icon">
                    <i class="fas fa-link"></i>
                    <i class="fas fa-search"></i>
                  </div>
                  <p>{{cardW.title}}</p>
                  <span>{{cardW.type}}</span>
                </div>
              </div>
              <div class="separator">
                <i class="border-grey top"></i>
                <a href="#" class="viewProj"> <span>VIEW ALL PROJECTS</span> </a>
                <i class="border-grey center"></i>
              </div>
            </div>
          </div>
        </section>

        <section class="values">
          <div class="containerValues">
            <p class="minTitle">
              Our Core Values
              <i class="borderI"></i>
            </p>
            <span class="info-values">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</span>
            <div class="containerColumn">
              <div class="column" v-for='elem in cardValues'>
                <div class="pulse">
                  <i :class="elem.icon" class="padd" :style="{'background-color':elem.color}"></i>
                </div>
                <p class="titleVal">
                  {{elem.title}}
                  <i class="border-min"></i>
                </p>
                <span class="text">{{elem.text}}</span>
              </div>
            </div>
          </div>
        </section>

        <section class="containerSlider">
          <img :src="backgroundSlider">
          <div class="separator top"></div>
          <p class="titleSlider">
            Our Home Owners Say
            <i class="borderI"></i>
          </p>
          <div class="slider">
            <div class="imgSlider">
              <img :src="slider[indSlider].img">
            </div>
            <p class="overview">{{slider[indSlider].overview}}</p>
            <span>
              <p class="mr">{{slider[indSlider].name}}</p>
              &#8226;
              <p class="ml">{{slider[indSlider].type}}</p>
            </span>
            <ul>
              <li v-for='circle in 2'>
                <i class="far fa-circle"
                  :class="circle -1 ==  indSlider? 'active':''"
                  @click='indSlider = circle - 1'
                  >
                </i>
              </li>
            </ul>
          </div>
          <div class="separator bottom"></div>
        </section>

        <section class="news">
          <div class="containerNews">
            <p class="titleNews">
              Latest News
              <i class="borderI"></i>
            </p>
            <span class="info-news">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</span>
            <div class="containerCardNews">
              <div class="cardNews" v-for='cardN in cardNews'>
                <div class="innerCard">
                  <div class="imgCard">
                    <img :src="cardN.img">
                    <div class="overlay">
                      <div class="icon">
                        <i class="fas fa-link"></i>
                        <i class="fas fa-search"></i>
                      </div>
                      <p>{{cardN.title}}</p>
                      <span>{{cardN.type}}</span>
                    </div>
                  </div>
                  <div class="infoCard">
                    <p class="titleCard">{{cardN.title}}</p>
                    <p class="dateCard">{{cardN.date}}</p>
                    <p class="overview">{{cardN.overview}}</p>
                  </div>
                </div>
              </div>
              <div class="separator">
                <i class="border-white top"></i>
                <a href="#" class="viewArt"> <span>VIEW ALL ARTICLES</span> </a>
                <i class="border-white center"></i>
              </div>
            </div>
          </div>
        </section>

        <section class="trusted">
          <div class="containerTrusted">
            <p class="titleTrusted">
              Trusted Partners
              <i class="borderI"></i>
            </p>
            <span class="info-trusted">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</span>
            <div class="slider">
              <div class="img" v-for='logo in sliderLoghi'>
                <img :src="logo">
              </div>
            </div>
          </div>
        </section>

        <section class="inspiringSpaces">
          <div class="containerSpaces">
            <div class="left">
              <p class="titleSpaces">
                Building Inspiring Spaces
                <i class="borderI"></i>
              </p>
              <span class="info-spaces">Vivamus sed consectetur tellus dolor sit amet, consectetur adipiscing lorem elit sadip ipsum ets ficilis uns.</span>
            </div>
            <div class="right">
              <a href="#"> <span>GET A FREE QUOTE</span> </a>
              <p class="minP">Only takes a few seconds!</p>
            </div>
          </div>
        </section>
      </main>

      <footer>
        <div class="containerFooter">

          <div class="card _1">
            <div class="logo_1">
              <img :src="footerCard_1.logo">
            </div>
            <p>{{footerCard_1.overview}}</p>
            <a class='btnFooter_1' href="#"> <span>LEARN MORE</span> </a>
          </div>

          <div class="card _2">
            <p class="title">{{footerCard_2.title}}</p>
            <div class="inner">

              <div class="logo_2">
                <img :src="footerCard_2.logo">
              </div>

              <div class="text">

                <div class="theme">
                  <div class="themeTxt">
                    <p>Theme{{footerCard_2.theme}}</p>
                    <span>@Theme_{{footerCard_2.theme}}</span>
                  </div>
                  <img :src="footerCard_2.iconTw">
                </div>

                <div class="overview">
                  <p>
                    {{footerCard_2.overview_1}}
                    <a href="#">{{footerCard_2.hashtag}}</a>
                    {{footerCard_2.overview_2}}
                    <a href="#">{{footerCard_2.link}}</a>
                  </p>
                </div>

                <div class="screen">
                  <img :src="footerCard_2.screen" alt="">
                </div>

                <div class="icon">
                  <div>
                    <img :src="footerCard_2.iconLove">
                    <img :src="footerCard_2.iconShare">
                  </div>
                  <span>{{footerCard_2.timePosted}}</span>
                </div>

              </div>

            </div>
          </div>

          <div class="card _3">
            <p class="title">{{footerCard_3.title}}</p>
            <ul>
              <li class="width">
                <i :class='footerCard_3.iconCorporate'></i>
                <p>{{footerCard_3.corporateLocation}}</p>
              </li>
              <li class="width">
                <i :class='footerCard_3.iconResidential'></i>
                <p>{{footerCard_3.residentialLocation}}</p>
              </li>
              <li>
                <i :class='footerCard_3.numberIcon'></i>
                <p>{{footerCard_3.number[0]}}</p>
              </li>
              <li>
                <i :class='footerCard_3.numberIcon'></i>
                <p>{{footerCard_3.number[1]}}</p>
              </li>
              <li>
                <i :class='footerCard_3.dayIcon'></i>
                <p>{{footerCard_3.day[0]}}</p>
              </li>
              <li>
                <i :class='footerCard_3.dayIcon'></i>
                <p>{{footerCard_3.day[1]}}</p>
              </li>
            </ul>
          </div>

          <div class="card _4">
            <p>{{footerCard_4.title}}</p>
            <div class="inner">
              <img :src="footerCard_4.img" alt="">
            </div>
          </div>

        </div>

        <div class="copyright">
          <div>
            <p>©COPYRIGHT 2012 - 2021 | AVADA THEME BY <span> THEMEFUSION </span>| ALL RIGHTS RESERVED | POWERED BY <span>WORDPRESS</span> </p>
          </div>
          <div class="icon">
            <i v-for='i in copyrightIcon' :class='i'></i>
          </div>
        </div>

      </footer>

      <div class="iconFixed">
        <div class="buy">
          <i class="fas fa-shopping-cart"></i>
          <p>BUY NOW</p>
        </div>
      </div>

    </div>
  </body>
</html>
